apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payments
  template:
    metadata:
      labels:
        app: payments
    spec:
      containers:
      - name: payments
        image: ghcr.io/ducanhle1992/ticket-payments:dev
        imagePullPolicy: IfNotPresent
        env:
        - name: DATABASE_URL
          value: "postgres://postgres:password@postgres:5432/tickets?sslmode=disable"
        - name: NATS_URL
          value: "nats://nats:4222"
        - name: STRIPE_KEY
          value: "sk_test_..."
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: payments
spec:
  selector:
    app: payments
  ports:
  - protocol: TCP
    port: 3000
    targetPort: 3000
